@property --hue {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@keyframes hueRotate {
  to {
    --hue: 360;
  }
}

.container {
  animation: hueRotate 100s infinite linear;
  background-color: hsl(var(--hue), 50%, 80%);
}

[data-mui-color-scheme='dark'] .container {
  background-color: hsl(var(--hue), 30%, 15%);
}
